

.start-button-hide {
    display: none;
}

.question-1-hide {
    display:none
}

.question-2-hide {
display: none;
}

.question-3-hide {
    display: none;
}

.final-box-hide {
    display: none;
}

.hide{
    display: none;
}